<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757852127852-ljd5r0k1f1gaf196sb08r46sdc7tktme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757852127852-ljd5r0k1f1gaf196sb08r46sdc7tktme</string>
	<key>API_KEY</key>
	<string>AIzaSyBu5bX9y9zMI1MGQdpUKcrcO99z5qmUrnU</string>
	<key>GCM_SENDER_ID</key>
	<string>757852127852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otpVerification</string>
	<key>PROJECT_ID</key>
	<string>learn-58fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-58fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757852127852:ios:b1b6cdcaa26525d8774e49</string>
</dict>
</plist>